@tailwind base;
@tailwind components;
@tailwind utilities;

.slide-enter {
    transform: translateY(100%);
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide-enter-active {
    transform: translateY(0%);
    opacity: 1;
    transition: transform 500ms ease, opacity 500ms ease;
}

.slide-exit {
    transform: translateY(0%);
    opacity: 1;
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide-exit-active {
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 500ms ease, opacity 500ms ease;
}

.slide-appear {
    transform: translateY(100%);
    opacity: 0;
}

.slide-appear-active {
    transform: translateY(0);
    opacity: 1;
    transition: transform 500ms ease, opacity 500ms ease;
}